@{Layout = null;}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link rel="stylesheet" href="~/Content/bootstrap.css">
</head>

<body>
<div>
       <a href="~/Admin/Add">               <button class="btn btn-lg btn-primary btn-block signup-btn" type="button">
                        Add Video</button></a>
                        </div>
                        <div>
       <a href="~/Admin/Update">               <button class="btn btn-lg btn-primary btn-block signup-btn" type="button">
                        Update Video</button></a>
                        </div>
                        <div>
       <a href="~/Admin/Delete">               <button class="btn btn-lg btn-primary btn-block signup-btn" type="button">
                        Delete Video</button></a>
                        </div>
      <a href="~/Admin/search">               <button class="btn btn-lg btn-primary btn-block signup-btn" type="button">
                        Search Video By Id</button></a>
                        </div>



                        
</body>
</html>
