@{
Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>Learn Center | Courses</title>
<meta charset="utf-8">
 <link rel="stylesheet" href="~/Content/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="~/Content/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="~/Content/style.css" type="text/css" media="all">
<script type="text/javascript" src="~/Scripts/jquery-1.5.2.js" ></script>
<script type="text/javascript" src="~/Scripts/cufon-yui.js"></script>
<script type="text/javascript" src="~/Scripts/cufon-replace.js"></script>
<script type="text/javascript" src="~/Scripts/Molengo_400.font.js"></script>
<script type="text/javascript" src="~/Scripts/Expletus_Sans_400.font.js"></script>
<link href="../../Content/bootstrap.css" rel="stylesheet" />
<script type="text/javascript" src="~/Scripts/bootstrap.js"></script>

<!--[if lt IE 9]>
<script type="text/javascript" src="js/html5.js"></script>
<style type="text/css">.bg, .box2{behavior:url("js/PIE.htc");}</style>
<![endif]-->
<div class="body1">
  <div class="main">
   
  </div>
</div>
<div class="body2">
  <div class="main">
    <!-- content -->
    <section id="content">
      <div class="box1">
        <table width="860" height="900" border="0">
          <tr>
            <td>

<!-- Form Name -->
<legend>How to ask</legend>
    <p>

<h4>Welcome to LearnCenter!</h4>

We’d love to help you, but the reality is that not every question gets answered. To improve your chances, here are some tips:
Search, and research

Have you thoroughly searched for an answer before asking your question? Sharing your research helps everyone. Tell us what you found (on this site or elsewhere) and why it didn’t meet your needs. This demonstrates that you’ve taken the time to try to help yourself, it saves us from reiterating obvious answers, and above all, it helps you get a more specific and relevant answer!

Try our more advanced search!
<h4>Be on-topic </h4>

Our community is defined by a specific set of topics in the help center; please stick to those topics and avoid asking for opinions or open-ended discussion. If your question is about the site itself, ask on our meta-discussion site. If you’re looking for a different topic, it might be covered on another Stack Exchange site.
<h4>Be specific</h4>

If you ask a vague question, you’ll get a vague answer. But if you give us details and context, we can provide a useful, relevant answer.
Make it relevant to others

We like to help as many people at a time as we can. Make it clear how your question is relevant to more people than just you, and more of us will be interested in your question and willing to look into it.
<h4>Keep an open mind</h4>

The answer to your question may not always be the one you wanted, but that doesn’t mean it is wrong. A conclusive answer isn’t always possible. When in doubt, ask people to cite their sources, or to explain how/where they learned something. Even if we don’t agree with you, or tell you exactly what you wanted to hear, remember: we’re just trying to help.
  thanks, I will keep these tips in mind when asking

</p>

<!-- Text input-->

&nbsp;</td>
            <td>
&nbsp;</td>
          </tr>
          <tr>
            <td><form action="/Forums/save" method="post" class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Question</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="ques">Title</label>  
  <div class="col-md-4">
  <input id="ques" name="title" placeholder="Title" class="form-control input-md" required="" type="text">
    
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="message">Question</label>
  <div class="col-md-4">                     
    <textarea class="form-control" id="message" name="message" ></textarea>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="qs"></label>
  <div class="col-md-4">
    <button id="qs" name="qs" class="btn btn-primary">submit</button>
  </div>
</div>

</fieldset>
</form>&nbsp;</td>
            <td>&nbsp;</td>
         </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
        </table>
        
      
      
      </div>
    </section>
    <!-- content -->
   
  </div>
</div>
