@{
Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
<title>Learn Center | Contacts</title>
<meta charset="utf-8">
<link rel="stylesheet" href="~/Content/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="~/Content/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="~/Content/style.css" type="text/css" media="all">
<script type="text/javascript" src="~/Scripts/jquery-1.5.2.js" ></script>
<script type="text/javascript" src="~/Scripts/cufon-yui.js"></script>
<script type="text/javascript" src="~/Scripts/cufon-replace.js"></script>
<script type="text/javascript" src="~/Scripts/Molengo_400.font.js"></script>
<script type="text/javascript" src="~/Scripts/Expletus_Sans_400.font.js"></script>
<link href="../../Content/bootstrap.css" rel="stylesheet" />

<script type="text/javascript" src="~/Scripts/bootstrap.js"></script>

<!--[if lt IE 9]>
<script type="text/javascript" src="js/html5.js"></script>
<style type="text/css">.bg, .box2{behavior:url("js/PIE.htc");}</style>
<![endif]-->
</head>
<body id="page5">
<div class="body1">
  <div class="main">
  
        
  </div>
</div>
<div class="body2">
  <div class="main">
    <!-- content -->
      <div class="box1">
    <section id="content">
      <p>&nbsp;</p>
      <table width="415" border="0">
        <tr>
          <td width="409"><form action="/Teachers/save" method="post" class="form-horizontal" enctype="multipart/form-data">
<fieldset>
    
<!-- Form Name -->
<legend>Upload Assignment</legend>

<!-- File Button --> 
<div class="form-group">
  <label class="col-md-4 control-label" for="browse"></label>
  <div class="col-md-4">
    <input id="browse" name="image" class="input-file" type="file">
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="upload"></label>
  <div class="col-md-4">
    <button id="upload" name="upload" class="btn btn-primary">Upload</button>
  </div>
</div>

</fieldset>
</form>


&nbsp;</td>
        </tr>
        <tr>
          <td><form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Upload Lecture Notes</legend>

<!-- File Button --> 
<div class="form-group">
  <label class="col-md-4 control-label" for="browse"></label>
  <div class="col-md-4">
    <input id="browse" name="browse" class="input-file" type="file">
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="upload"></label>
  <div class="col-md-4">
    <button id="upload" name="upload" class="btn btn-primary">Upload</button>
  </div>
</div>

</fieldset>
</form>

&nbsp;</td>
        </tr>
      </table>
      <p>&nbsp;</p>
      </div>
    </section>
    <!-- content -->
     </div>
</div>
</html>